# ---------------------------------------------------
# GENERAL CONFIG
# ---------------------------------------------------
LISTEN_PORT=8080

# ---------------------------------------------------
# If you wish KAWA to send emails, use SMTP
# Otherwise use LOG
# ---------------------------------------------------
COMMUNICATION_PROVIDER_TYPE=LOG

# ---------------------------------------------------
# SMTP CONFIG -Only set those values if you used SMTP above
# (Please do not remove those variables)
# ---------------------------------------------------
SMTP_USERNAME="user"
SMTP_PASSWORD="password"
SMTP_PORT=456
SMTP_HOST="localhost"
SMTP_SSL=false
SMTP_START_TLS=true
SMTP_AUTHENTICATION=true